@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  background-color: #02032e;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
}

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo__img {
  width: 44px;
  height: 44px;
}

.logo__brand {
  font-size: 18px;
  line-height: 21.13px;
  color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.btn--small {
  padding: 0.5rem 1.5rem;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  border-radius: 10px;
}

.btn--large {
  padding: 0.5rem 2rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  border-radius: 15px;
}

.btn--solid {
  background-color: #4742ff;
}

.btn--linear {
  background: linear-gradient(
    108.2deg,
    #325bfe -0.66%,
    rgba(89, 161, 255, 0.8) 40.99%,
    #a167ff 90.01%
  );
}

.btn--outlined {
  border: 1.5px solid #4742ff;
  border-radius: 15px;
  background-color: transparent;
  color: #5b56ff;
}

.intro {
  width: 1140px;
  margin: 4rem auto;
  text-align: center;
}

.intro__title {
  margin: 0 0 2rem;
  font-size: 45px;
  line-height: 68px;
  font-weight: 700;
  background: linear-gradient(
    91.57deg,
    #3057fe 26.3%,
    #4caaff 50.83%,
    #a167ff 70.53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro__subtitle {
  margin: 0 0 2rem;
  font-weight: 500;
  font-size: 22.5px;
  line-height: 43px;
  color: #ffffffb3;
}

.intro__btns {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.register {
  width: 1140px;
  margin: 8rem auto 0;
  padding: 8rem 12rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-register.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.register__desc {
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 31px;
  font-weight: 500;
  text-align: center;
  color: #ffffffb3;
}

.features {
  width: 1140px;
  margin: 8rem auto 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 1rem);
  margin: 0 0.5rem;
  height: 540px;
  background-image: url("../images/bg-card.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card__header {
  margin: 0.5rem 0.5rem 0;
  padding: 2rem;
  height: 240px;
  text-align: center;
  border-radius: 26px;
  background-image: url("../images/bg-card-header.png");
  background-size: cover;
}

.card__img {
  width: 64px;
  height: 64px;
}

.card__caption {
  margin-top: 2rem;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.card__body {
  margin: 0;
  padding: 2rem;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #ffffffb3;
}

.supported-chains {
  padding: 4rem 0 16rem;
  text-align: center;
  background-image: url("../images/bg-supported-chains.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.supported-chains__title {
  font-size: 45px;
  line-height: 68px;
  font-weight: 700;
  text-align: center;
  color: #ffffffe6;
}

.supported-chains__img {
  margin-top: 4rem;
  width: 840px;
}

.outro {
  position: relative;
  top: -16rem;
  width: 1140px;
  margin: 4rem auto 0;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-outro.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.outro__text {
  margin-bottom: 2rem;
  max-width: 80%;
  font-style: italic;
  font-size: 20px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.footer {
  padding-bottom: 2rem;
  text-align: center;
}

.copyright {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff80;
}

@media (max-width: 1140px) {
  .intro,
  .register,
  .features,
  .supported-chains,
  .outro {
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1024px) {
  .register {
    padding: 8rem 2rem 4rem;
  }

  .card__header {
    padding: 1rem;
  }

  .card__caption {
    font-size: 14px;
    line-height: 26px;
  }

  .card__body {
    margin: 0;
    padding: 1rem;
    font-size: 12px;
    font-weight: 400;
  }

  .card__header {
    margin: 1rem 1rem 0;
  }
}

@media (max-width: 840px) {
  .card {
    width: calc(50% - 4rem);
    margin: 2rem;
  }

  .supported-chains__img {
    width: 80%;
  }

  .outro__text {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 640px) {
  .intro {
    margin: 2rem auto;
  }

  .register {
    margin: 4rem auto 0;
  }

  .intro__title {
    font-size: 32px;
    line-height: 38px;
  }

  .intro__subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #ffffffb3;
  }

  .supported-chains__title {
    font-size: 32px;
    line-height: 38px;
  }

  .btn--large {
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 700;
    border-radius: 15px;
  }

  .card {
    width: calc(50% - 1rem);
    margin: 0.5rem;
  }

  .copyright {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff80;
  }
}

@media (max-width: 540px) {
  .register {
    padding: 8rem 1rem 1rem;
  }

  .register__input {
    padding: 0.5rem;
    height: 100%;
    flex: 1;
    font-size: 12px;
    line-height: 22px;
  }

  .btn--small {
    padding: 0.25rem 1rem;
    font-size: 12px;
  }

  .btn--large {
    padding: 0.25rem 1rem;
    font-size: 12px;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .supported-chains__img {
    width: 100%;
  }
}
